*.md
*.map
.git
.k8s
.idea
.config
.nvmrc
.husky
.github
.circleci
.gitignore
.dockerignore
.editorconfig
seed.js
docs
certs
seed
Makefile
Dockerfile*
nodemon.json
node_modules
npm-debug.log
.commitlintrc.json
docker-compose.yml
sonar-project.properties
